 
 
 
/*  *-*-*-*-*-*-*-*-*-* Footer *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*- */

.footer{
  background-color: $color-bg-secondary ;
  padding: 4rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  &--text{
    padding-left: 1rem;
  }

  &--logo img{
    height: 1.5rem;
  }
}

/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
  @media only screen and (max-width: 470px) {
    .footer {
      justify-content: center;
    }

    .footer--text{
      display: none;
    }
  }