

/*  *-*-*-*-*-*-*-*-*-*  GRID to keep content centered *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.container {
    max-width: 960px;
    margin: 0 auto; 
    position: relative;
    height:100%; 
}

 /* ^*^*^*^*^*^* MEDIA queries medium screen ^*^*^*^*^*^* */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}