
/*  *-*-*-*-*-*-*-*-*-* Information *-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.information-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3rem;
}

.information {
    width:35%;
    margin-left:5%;

    &--header {
        background-color: $color-bg-main;
        width: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.25rem;

        display: flex;
        justify-content: flex-start;
        }

    &--description {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
}

/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
@media only screen and (max-width: 470px) {
    .information-box {
        flex-direction: column;
        justify-content:center;
    }
    .information {
        width:100%;
        margin: 0;

        &--header {
            width: 100%;
            justify-content: center;
            }
    
        &--description {
            width:100%;
            padding-bottom: 4rem;
            padding-left: 0.5rem;
        }
    }

    .a1 { order: 1;}
    .b1 { order: 3;}
    .a2 { order: 2;}
    .b2 { order: 4;}
}