/*  *-*-*-*-*-*-*-*-*-* Base *-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4; }

/*  *-*-*-*-*-*-*-*-*-* Fonts *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-**/
h1,
h3 {
  font-size: 1rem; }

h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  text-transform: uppercase; }

h2,
h3 {
  font-weight: bold; }

a {
  color: white;
  text-decoration: none; }

/*  *-*-*-*-*-*-*-*-*-* utility classes *-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.u-margin-top-small {
  margin-top: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

/*  *-*-*-*-*-*-*-*-*-* Icon gallery *-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.icons {
  height: 4rem;
  display: flex;
  justify-content: center; }

.icon {
  width: 5rem;
  padding-left: 6rem;
  padding-right: 6rem; }
  .icon--image {
    display: flex;
    justify-content: center;
    align-items: center; }
    .icon--image img {
      width: 3.5rem; }
  .icon--description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .icon--description p {
      padding-top: 1rem;
      text-align: center; }

/*  *-*-*-*-*-*-*-*-*-* Footer *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*- */
/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
/*  *-*-*-*-*-*-*-*-*-*  GRID to keep content centered *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  height: 100%; }

/*  *-*-*-*-*-*-*-*-*-* Header*-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-* */
.company {
  color: white; }

.company .container {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  display: flex;
  padding: 1rem 2rem; }

.company img {
  height: 1.5rem;
  padding-right: 1rem; }

/*  *-*-*-*-*-*-*-*-*-* Banner *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-**/
.main-banner {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem; }

.headline {
  position: absolute;
  top: 13rem;
  right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white; }

/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem; }
  .headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem; }
  .headline h4 {
    font-size: .77rem; }
  .headline h1 {
    font-size: 1rem; } }

/*  *-*-*-*-*-*-*-*-*-* Navigation Bar *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-* */
nav ul li {
  display: inline;
  margin: 1rem 2rem; }

/* ^*^*^*^*^*^* MEDIA queries medium screen ^*^*^*^*^*^* */
