
/*  *-*-*-*-*-*-*-*-*-* Fonts *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-*-*-*-*-*-*-**/


h1,
h3 {
  font-size: 1rem; 
}
h2 {
    font-size: 2rem;
    line-height:  1.2; 
    color: $color-text-dark; 
    text-transform: uppercase;
}
h3 {
    color: $color-text-light; 
}
h2,
h3 {
    text-transform: uppercase;
    font-weight: bold;
}

a {
    color: $color-text-light;
    text-decoration: none;
  }

  /* ^*^*^*^*^*^* MEDIA queries medium screen ^*^*^*^*^*^* */
@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 1.33rem;
    }
}

/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
@media only screen and (max-width: 470px) {
    h2 {
        font-size: 1rem;
    }
}